<!doctype html>
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'app/favicon.png' %}" type="image">
  <link rel="icon" href="{% static 'app/favicon.png' %}" type="image">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
  <title>МЕГАМОЙКА</title>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <img src="{% static 'app/examplecarwash.jpg' %}" alt="Example of car wash" class="img-fluid" style="height: 100vh; width: 100%;">
        </div>
        <div class="col-md-5 d-flex align-items-center pl-4 pr-4">
            <div class="">
                <h1 class="display-3 font-weight-bold">Автомойка с полным циклом услуг</h1>
                <p class="lead">Автомойка 24/7</p>
                <a href="#contact-section" class="btn btn-danger btn-lg">Связаться</a>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small blue">
    <div class="container text-center py-3">
      <a href="https://www.packtpub.com">О компании</a>
      <a href="/service">Услуги</a>
      <a href="https://www.packtpub.com">Отзывы</a>
      <a href="https://www.packtpub.com">Контакты</a>
      <p>© 2023 ИП Субанов В. Б.</p>
    </div>
  </footer>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>