{% extends 'app/base.html' %}

{% block content %}
<section id="service_page">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Услуги</h1>
        <p class="lead">Мы оказываем широкий выбор услуг по мойке, химчистке, полировке автомобилей и нанесению защитных покрытий.</p>
    </div>

    <div class="container">
        <div class="row mb-4">
            {% for service in services %}
                <div class="col-md-4 my-3">
                    <div class="block card mb-4 box-shadow text-center d-flex flex-column" style="height: 100%;">
                        <div class="block card-header red-header">
                            <h4 class="my-0 font-weight-normal">{{ service.name }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">от {{ service.price }} руб</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                {% for description_item in service.get_description_list %} 
                                    <li>{{ description_item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
            <p class="lead mb-1" style="max-width: 600px;">
                А также многие конкретные отдельные услуги по химчистке, мойке, уборке, чистке и многое другое.
            </p>
        </div>
    </div>

    <style type="text/css">
        #service_page {
            padding-top: 0;
            margin-top: -30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #service_page h1, #service_page h2 {
            margin-bottom: 20px;
        }
        
        #service_page h2 {
            font-size: 24px;
        }
        
        #service_page > p {
            margin-bottom: 15px;
        }
        
        #service_page p:last-child {
            margin-bottom: 0;
        }
        
        #service_page .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        #service_page  .card {
            margin: 10px;
        }
        
        #service_page  .card-header.red-header {
            background: linear-gradient(to right, rgb(245, 42, 27), rgb(222, 62, 62));
            color: white;
        }
        
        #service_page  .block {
            box-shadow: 0 1px 6px rgba(179, 179, 179, 0.3);
        }
        
    </style>
</section>
{% endblock %}
