html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, a, p {
    font-family: "Gilroy-regular", sans-serif;
}

p{
    color: black;
}
.start {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    transition: all 0.5s ease;
}

.button1 {
    background-color: black;
}

.button2 {
    background-color: white;
    color: black;
    margin: 10px;
}

.start:hover {
    letter-spacing: 3px;
    background-color: rgb(183, 28, 28);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(183, 28, 28) 0px 7px 29px 0px;
}

.start:active {
    letter-spacing: 3px;
    outline: none;
    background-color: rgb(183, 28, 28);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(183, 28, 28) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

#intro {
    position: relative;
}

#intro .text {
    text-align: center;
    margin: 30px;
}

#intro {
    margin-top: -50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#service_page {
    min-height: 100vh;
    overflow: hidden;
    background-color: #212529;
    padding-top: 50px;
}

#service_page > h1 {
    margin-bottom: 20px;
}

#service_page > p {
    margin-bottom: 15px;
}

#service_page p:last-child {
    margin-bottom: 0;
}

.custom-col {
    padding: 5px;
}

#service_page .options .img_example {
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(179, 179, 179, 0.3);
    width: 90%;
    height: 90%;
}

#service_page .button {
    text-align: center;
    margin-bottom: 45px;
    box-shadow: 0 1px 6px rgba(179, 179, 179, 0.3);
    color: linear-gradient(to right, rgb(244, 67, 54), rgb(183, 28, 28));
}

#firm_page {
    min-height: 100vh;
}

#firm_page .b_item1 {
    margin-bottom: 30px;
    text-align: center;
    padding: 30px 30px 45px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

#firm_page .icons1 {
    text-align: center;
    width: 55px;
    height: 55px;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

#firm_page .b_item1 .icons1 > img {
    width: 35px;
    height: 35px;
}

.gallery img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
}

.gallery ul {
    list-style: none;
    margin: auto;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, auto);
    max-width: 100%;
    width: 80rem;
}

.gallery figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.gallery figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 300ms;
}

.gallery figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

.gallery a:hover figure::after {
    opacity: 1;
}

.gallery a:hover figcaption {
    opacity: 1;
    transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
    .gallery figcaption {
        transform: translate3d(0, 2rem, 0);
    }

    .gallery figure::after {
        border-radius: 50%;
        opacity: 1;
        transform: scale(0);
        transition: transform 900ms;
    }

    .gallery a:hover figure::after {
        transform: scale(2.5);
    }

    .gallery a:hover figcaption {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 600ms 400ms, transform 600ms 400ms;
    }

    .gallery a:hover img {
        transform: scale(1.2);
    }
}
#firm_page {
    min-height: 100vh;
}
#firm_page .blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

#firm_page .b_item1 {
    margin-bottom: -80px;
}
hr {
    height: 3px;
    background-image: linear-gradient(90deg, transparent,  rgb(244, 67, 54), transparent);
    border: 0;
}
#contact_page{
    min-height: 100vh;
    overflow: hidden;
    padding-top: 50px;

}
#blocks .b_item {
        margin-bottom: 30px;
        box-shadow: 0 1px 6px rgba(179, 179, 179, 0.3);
    text-align: center;
    padding: 30px 30px 45px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}


#blocks .b_item .icons {
    text-align: center;
    width: 55px;
    height: 55px;
    border: 2px solid lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

#blocks .b_item .icons > img {
    width: 35px;
    height: 35px;
}

  #blocks .b_item > p {
    display: block;
    font-size: 14px;
    margin-bottom: 0px;

  }
  #blocks .b_item > a {
    display: block;
    font-size: 14px;
    margin-bottom: -10px;
    text-decoration: none !important;
    color:#111;
  }
  #blocks .b_item > p:last-child {
    margin-bottom: 0;
  }
  #location .container {
    padding-bottom:30px;
    margin-bottom: -30px;
}
  .wrapper_map_right {
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(179, 179, 179, 0.3);
    overflow: hidden;
}
